<!-- <mat-toolbar color="primary"> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <span>My App</span>
    <span class="example-spacer"></span>
     <button mat-icon-button> 
      <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button> 
    <mat-icon>list</mat-icon>
</button>
<button mat-icon-button> 
  <mat-icon>settings</mat-icon>
</button>  -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <!-- <span class="example-spacer"></span>
     <button mat-icon-button> 
      <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button> 
    <mat-icon>list</mat-icon>
</button>
<button mat-icon-button> 
  <mat-icon>settings</mat-icon>
</button>   -->
  <!-- </mat-toolbar>  -->
  <div id="header">
    <div id="title-block">
    <a id="home-link" href="/">
    <h1>keep-note</h1>
    </a>
    </div>
    <div id="navbar">
      <button mat-icon-button > 
        
          <mat-icon><a routerLink="/note-view" style="color: white;"> 
              home </a>
          </mat-icon>
       
      </button>
    <button mat-icon-button>
    <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button>
    <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button > 
     
      <mat-icon  > <a routerLink="/register-form" id="person_add" style="color: white;">person_add </a></mat-icon>
      
     </button>
    <!-- <button mat-raised-button (click)="openRegisterForm()">Registration</button> -->

   
    </div>
    </div> 