
<form (ngSubmit)="editNote()">
   <div class="first">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="note.title" name="title">
      </mat-form-field>
    </div>
  
    
    <div class="second">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Content</mat-label>
        <input matInput type="text" [(ngModel)]="note.content" name="content">
      </mat-form-field>
    </div>
    <div class="button">
    <button type="submit">Save</button>
    </div>
  </form>